@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
body {
    width: 100%;
    background: url(http://subtlepatterns.subtlepatterns.netdna-cdn.com/patterns/grid.png) repeat #fefefe;
}
.button {
    margin: 40px auto;
    font-size: 72px;
    font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
    text-decoration: none;
    text-shadow: 1px 1px 0px #fff;
    font-weight: 400;
    color: #666;
    border: 1px solid #ccc;
    cursor: pointer;
    padding: 20px 70px 30px;
    position: relative;
    top: 50px;
    background: #eee;
    width: 300px;
    display: block;
    text-align: center;
    box-shadow: 1px 1px 1px #ffffff;
    border-radius: 5px;
    transition: all 0.5s ease-out;
}
.button:hover {
    color: #333;
    background: #eeffff;
    transition: all 0.5s ease-out;
}
.modalbg {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0);
    z-index: 99999;
    transition: all 2s ease-out;
    transition-delay: 0.2s;
    display: block;
    pointer-events: none;
}
.modalbg .dialog {
    width: 400px;
    position: relative;
    top: -1000px;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #ffffff;
    background: linear-gradient(#ffffff, #cccccc);
    box-shadow: 0 0 10px #000000;
}
.modalbg .dialog .ie7 {
    filter: progid: DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}
.modalbg:target {
    display: block;
    pointer-events: auto;
    background: rgba(4, 10, 30, 0.8);
    transition: all 0.5s ease-out;
}
.modalbg:target .dialog {
    top: -20px;
    transition: all 0.8s ease-out;
    transition-delay: 0.4s;
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 12px;
    box-shadow: 0 0 10px #000000;
    transition: all 0.5s ease-out;
    transition-delay: 0.2s;
}
.close .ie7 {
    filter: progid: DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);
}
.close:hover {
    background: #00d9ff;
    transition: all 0.5s ease-out;
}
.fineprint {
    font-style: italic;
    font-size: 10px;
    color: #646;
}
a {
    color: #333;
    text-decoration: none;
}
