/* line 1, C:/Users/cgx.karim.ryde/Google Drive/webutv2_te13a/dribbble/sass/flex.sass */
header, nav, nav ul {
  display: flex; }

/* line 4, C:/Users/cgx.karim.ryde/Google Drive/webutv2_te13a/dribbble/sass/flex.sass */
header {
  justify-content: space-between; }

/* line 8, C:/Users/cgx.karim.ryde/Google Drive/webutv2_te13a/dribbble/sass/flex.sass */
nav {
  align-items: center; }
  /* line 15, C:/Users/cgx.karim.ryde/Google Drive/webutv2_te13a/dribbble/sass/flex.sass */
  nav ul li {
    margin: 0 20px; }

/*# sourceMappingURL=flex.css.map */
