@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed|Open+Sans+Condensed:300,700|Yanone+Kaffeesatz);

/* Css reset */
h1, h2, h3, p ul, li {
    margin: 0;
    padding: 0;
}

body {
    background: #a39496;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
}

/* Sidhuvudet med meny ligger fast när man skrollar */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #e8dd88;
    color: #FFF;
    text-align: center;
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.34);
}

/* Menyn */
.meny {
    margin-left: 0;
    padding-left: 0;
}
    .meny li {
        display: inline;
        list-style-type: none;
        margin: 5px;
    }

/* Dom koola knapparna */
.button {
    display: inline-block;
    margin: 0 auto;
    border-radius: 10px;

    box-shadow:
        0px 3px rgba(128,128,128,1), /* gradient effects */
        0px 4px rgba(118,118,118,1),
        0px 5px rgba(108,108,108,1),
        0px 6px rgba(98,98,98,1),
        0px 7px rgba(88,88,88,1),
        0px 8px rgba(78,78,78,1),
        0px 14px 6px -1px rgba(128,128,128,1); /* shadow */

    transition: box-shadow .1s ease-in-out;
}

.button span {
    background-color: #E8E8E8;

    background-image:
        /* gloss gradient */
        gradient(
            linear,
            left bottom,
            left top,
            color-stop(50%,rgba(255,255,255,0)),
            color-stop(50%,rgba(255,255,255,0.3)),
            color-stop(100%,rgba(255,255,255,0.2))),

        /* dark outside gradient */
        gradient(
            linear,
            left top,
            right top,
            color-stop(0%,rgba(210,210,210,0.3)),
            color-stop(20%,rgba(210,210,210,0)),
            color-stop(80%,rgba(210,210,210,0)),
            color-stop(100%,rgba(210,210,210,0.3))),

        /* light inner gradient */
        gradient(
            linear,
            left top,
            right top,
            color-stop(0%,rgba(255,255,255,0)),
            color-stop(20%,rgba(255,255,255,0.5)),
            color-stop(80%,rgba(255,255,255,0.5)),
            color-stop(100%,rgba(255,255,255,0))),

        /* diagonal line pattern */
        gradient(
            linear,
            0% 100%,
            100% 0%,
            color-stop(0%,rgba(255,255,255,0)),
            color-stop(40%,rgba(255,255,255,0)),
            color-stop(40%,#D2D2D1),
            color-stop(60%,#D2D2D1),
            color-stop(60%,rgba(255,255,255,0)),
            color-stop(100%,rgba(255,255,255,0)));

        box-shadow:
            0px -1px #fff, /* top highlight */
            0px 1px 1px #FFFFFF; /* bottom edge */

        background-size: 100%, 100%, 100%, 4px 4px;
        border-radius: 10px;
        transition: all .1s ease-in-out;
        display: inline-block;
        padding: 5px 10px;
        color: #3A474D;
        font-size: 12px;
        text-shadow: 0px 1px #fff, 0px -1px #262F33;
    }

    .button span:hover {
        color: #904e00;
        cursor: pointer;
        background: #FFF;
    }

    .button:active {
        box-shadow:
            0px 3px rgba(128,128,128,1),
            0px 4px rgba(118,118,118,1),
            0px 5px rgba(108,108,108,1),
            0px 6px rgba(98,98,98,1),
            0px 7px rgba(88,88,88,1),
            0px 8px rgba(78,78,78,1),
            0px 10px 2px 0px rgba(128,128,128,.6); /* shadow */
    }

    .button:active span{
        transform: translate(0, 5px); /* depth of button press */
    }

#kontainer {
    width: 600px;
    padding: 40px;
    margin: 250px auto;
    background: #FFF;
    border-radius: 5px;
    box-shadow:
            5px 3px rgba(128,128,128,1),
            5px 4px rgba(118,118,118,1),
            5px 5px rgba(108,108,108,1),
            5px 8px 2px 0px rgba(128,128,128,.6); /* shadow */
}
h1 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 95px;
    letter-spacing: 30px;
    text-shadow: 4px 4px #FFF; /* bottom edge */
    text-transform: uppercase;
    color: #761d24;
}
h2 {
    margin: 20px 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 35px;
    letter-spacing: 3px;
    color: #761d24;
}
img {
    padding: 10px;
    background: #eaeaea;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
}
