@import url(https://fonts.googleapis.com/css?family=Montserrat|Oxygen)

html
    box-sizing: border-box

*, *:before, *:after
    box-sizing: inherit

body, h1, h2, h3, h4, h5, h6, p, ul, li
    margin: 0
    padding: 0
    font: 14px Oxygen
    color: #fff

header
    background: #999
    height: 100px
    /* För att få footer fast längs ned på fönstret */
    position: fixed
    top: 0
    left: 0
    width: 100%
    box-shadow: 0 2px 10px #000
    text-align: center

    h1
        font: 50px Montserrat

    li
        display: inline

        a
            color: #000
            text-decoration: none
            padding: 5px 10px

        a.current
            color: #fff

        a:hover
            color: red
            animation: blob 0.5s infinite

@keyframes blob
    0%
        transform: scale(1)
    100%
        transform: scale(2)

main
    background: #555
    width: 800px
    margin: 150px auto
    padding: 30px
    border-radius: 10px

    h2
        font-size: 24px

footer
    background: #000
    height: 50px
    /* För att få footer fast längs ned på fönstret */
    position: fixed
    bottom: 0
    left: 0
    width: 100%
    text-align: center
